# built documentation
site

# static assets for development
static/cdn.min.js
static/eruda.min.js
static/i18n.min.js
static/jszip.min.js
static/sql-wasm.js
static/sql-wasm.wasm
static/tablesort.min.js
static/worker.sql-wasm.js
