*, ::before, ::after {
    box-sizing: border-box;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.dropzone div {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
.dropzone div.zone {
	z-index: 1;
	pointer-events: none;
}
.dropzone div.dragging {
	animation: dropzone-blink 2s linear infinite;
}
@keyframes dropzone-blink {
	0%, 100% {
		background-color: #b3e5fc;
	}
	50% {
		background-color: #4fc3f7;
	}
}
.dropzone span {
	z-index: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	padding: 0.25em 0.5em;
	border-radius: 0.5em;
	background-color: #01579b;
	box-shadow: 0 0 0.5em #01579b;
	color: #ffffff;
	font-size: 5em;
	text-align: center;
}

.files {
	display: flex;
	overflow-y: auto;
    margin: 1em 0;
    padding: 0;
    font-size: 1.3em;
}
.files li {
    display: inline-block;
    margin: 0;
    padding: 0.25em 0.5em;
    background: #ddd;
    border-radius: 0.5em 0.5em 0 0;
}
.files li:not(:last-of-type) {
    margin-right: 0.1em;
}

.decks span:first-child {
	display: inline-block;
	box-sizing: content-box;
    width: 1em;
    text-align: center;
    padding-left: calc(0.5em + var(--depth) * 1.5em);
}

table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 0.25em 0.5em;
}
tr:nth-of-type(2n+1) {
    background-color: #f5f5f5;
}
tr.selected {
    background-color: #dcdcdc;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th:not(.no-sort):after {
	content: "";
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	user-select: none;
}
th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}
th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}
th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
